<header>
    <h1>Furever Friends</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/pets">Adopt</a></li>
            <li><a href="/applications">My Applications</a></li>
        </ul>
    </nav>
</header>