<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `About Furever Friends`}) %>
    <link rel="stylesheet" href="/styles/about.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>About Us</h2>
            <h4><i>Helping pets find their happily ever after, one adoption at a time</i></h4>
        </section>

        <section class="content">
            <h2>Our Mission</h2>
            <p>Furever Friends is a non-profit organization dedicated to rescuing and finding homes for pets in need.
                Our
                mission is to create a world where every pet has a loving and permanent home. We believe that every pet
                deserves to be loved and cared for, and we work tirelessly to make that a reality.</p>
            <p>At Furever Friends, we understand the importance of finding the perfect match between a pet and their new
                family. We take the time to get to know each pet in our care, including their personality, behavior, and
                any
                special needs they may have. We also carefully screen and interview potential adopters to ensure that
                they
                are committed to providing a loving and responsible home for their new pet.</p>
            <p>We are proud to have found homes for thousands of pets over the years, and we will continue to work
                tirelessly to rescue and find homes for pets in need.</p>
            <h2>Our Values</h2>
            <ul>
                <li>Compassion: We believe in treating all animals with kindness and respect.</li>
                <li>Responsibility: We are committed to providing the highest standard of care for every pet in our
                    care.
                </li>
                <li>Integrity: We operate with transparency and honesty in all of our interactions with our community.
                </li>
                <li>Collaboration: We believe that working together with our community is the key to achieving our
                    mission.
                </li>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>